---
import Layout from "../../layouts/Layout.astro";
import PastorCard from "../../components/PastorCard.astro";
import mark from "../../images/pastors/mark.jpeg";
import thayne from "../../images/pastors/thayne.jpg";
import lucas from "../../images/pastors/lucas.jpg";
import forest from "../../images/pastors/forest.jpeg";
import bradley from "../../images/pastors/bradley.jpg";
import pastors from "../../images/pages/pastors.jpg";
import ImageHeader from "../../components/ImageHeader.astro";
---

<Layout title="Pastors">
  <ImageHeader image={pastors} alt="Our Pastors" title="Our Pastors" />
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <PastorCard
        name="Mark Hofman"
        email="mark@lonerockbiblechurch.com"
        title="Speaking/Preaching Pastor"
        image={mark}
      >
        Growing up as a PK (preacher's kid) Mark never thought he would follow
        in his dad's footsteps, proving once again it is the Lord who directs
        our steps. Mark and Katy raised their 4 kids in the Bitterroot and now
        are blessed with 9 grandkids. They have been members of the Body at Lone
        Rock since the first Sunday it met at the Lone Rock school in '94. After
        serving on the elder board for many years, Mark became the preaching
        pastor in 2011. Golfing is his favorite way to relax and enjoy God's
        awesome creation.
      </PastorCard>
      <PastorCard
        name="Thayne Orton"
        email="thayne@lonerockbiblechurch.com"
        image={thayne}
      >
        Thayne was born into a Mormon family in Utah and raised in the Mormon
        culture; but, in 1995, God graciously opened his eyes and heart to
        reveal His truth of Jesus - which he loves to share with all he meets.
        He and his wife Dianne have a blended family with 5 grown children and
        10 grandchildren. Thayne has been a barber for 44 years. His favorite
        Bible verse is John 17:3 "And this is everlasting life, that they may
        know You, the only true God, and Jesus Christ, whom You have sent".
      </PastorCard>
      <PastorCard
        name="Lucas Pernsteiner"
        email="lucas@lonerockbiblechurch.com"
        image={lucas}
        title="Youth Ministries"
      >
        Lucas was raised in the Midwest. Lucas and his wife Shauna met while
        attending college - they are both chiropractors. God has blessed Lucas
        and Shauna with four wonderful children - three boys and one girl. Along
        with his love for Jesus Christ, Lucas also enjoys skiing, hiking,
        mountain biking, playing the guitar, and competing in Spartan races.
      </PastorCard>

      <PastorCard
        name="Bradley Carlson"
        email="bradley@lonerockbiblechurch.com"
        image={bradley}
      >
        Bradley grew up in North-central Idaho in the rolling farm fields of the
        Palouse. A couple years after high school he found himself at Ecola
        Bible School in Cannon Beach, Oregon where a passion for word of God and
        His people was ignited. He spent two years there which is where he met
        Baylee, a Bitterroot Valley native and the preacher's daughter. Bradley
        and Baylee are so thankful to the Lord to be raising their four boys
        here. Bradley enjoys farming, being horseback, and spending time
        deepening friendships (particularly in the woods during hunting season).
      </PastorCard>
      <PastorCard
        name="Forest Brown"
        email="forest@lonerockbiblechurch.com"
        image={forest}
        quote="“Beloved, if God so loved us, we also ought to love one another” 1 John 4:11"
      >
        Forest was blessed to be raised in a Christian home and received Christ
        as his Savior at a young age. He finds comfort in Philippians 1:6 “And I
        am sure of this, that he who began a good work in you will bring it to
        completion at the day of Jesus Christ”. Married young to his beautiful
        bride Connie Jo, they raised 3 wonderful daughters and a son and now
        greatly enjoy the blessings of grandchildren. Retired from the Fire
        Service, he and his family operate a local greenhouse/nursery business.
        Forest enjoys all things Montana- camping, hunting, fishing and ranching
        with occasional vacations abroad with friends and family.
      </PastorCard>
    </div>
  </div>
</Layout>
