---
import Divider from "./Divider.astro";

interface Props {
  label: string;
  subMenu?: {
    label: string;
    link: string;
    divider?: boolean;
  }[];
}

const { label, subMenu = [] } = Astro.props;

// Generate a unique ID for each dropdown
const dropdownId = `dropdown-${label.toLowerCase().replace(/\s+/g, "-")}`;
---

<li>
  <button
    id={`${dropdownId}-link`}
    data-dropdown-toggle={dropdownId}
    class="flex items-center justify-between w-full py-2 px-3 md:text-slate-300 md:hover:text-white rounded md:border-0 md:p-0 md:w-auto"
  >
    {label}
    <svg
      class="w-2.5 h-2.5 ms-2.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg>
  </button>

  <div
    id={dropdownId}
    class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-10/12 md:w-44"
  >
    <ul
      class="py-2 text-md text-gray-700 dark:text-gray-400"
      aria-labelledby={`${dropdownId}-link`}
    >
      {
        subMenu.map((menuItem) => (
          <>
            {menuItem?.divider && <Divider />}
            <li>
              <a
                href={menuItem.link}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                {menuItem.label}
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</li>
