---
import Image from "astro/components/Image.astro";

interface Props {
  image: ImageMetadata;
  alt?: string;
  title: string;
  loading?: "lazy" | "eager";
}
const { image, alt, title, loading = "lazy" } = Astro.props;
---

<div class="w-full px-1 pt-1 mx-auto max-w-screen-xl">
  <div class="flex flex-col items-center pb-10">
    <h4
      class="mb-5 text-3xl font-medium text-gray-900 dark:text-white font-oswald"
    >
      {title}
    </h4>
    <div class="max-w-lg mb-3">
      <!-- <Image
        src={image}
        alt={alt ?? title}
        class="mb-3 rounded-full shadow-lg object-cover aspect-square"
        loading={loading}
      /> -->
      <Image
        src={image}
        alt={alt ?? title}
        class="mb-3 rounded-full shadow-lg object-cover aspect-square"
        loading={loading}
        widths={[240, 360, 512, 720]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 360px, (min-width: 721px) 512px, (max-width: 1600px) 720px`}
      />
    </div>
    <span class="text-lg text-gray-500 dark:text-gray-400"><slot /></span>
  </div>
</div>
