---
import SEOHead from "../components/SEOHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "./src/styles/global.css";

interface Props {
  title?: string;
  image?: string;
  description?: string;
  route?: string;
}

const { title, image, description, route } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    /> -->
    <title>
      {title ? `${title} | Lone Rock Bible Church` : "Lone Rock Bible Church"}
    </title>
    <SEOHead
      image={image}
      description={description}
      route={route}
      title={title}
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
    </style>
  </head>
  <body class="bg-neutral-100">
    <div class="min-h-screen flex flex-col">
      <Navbar />

      <main class="flex-grow mx-2">
        <slot />
      </main>
      <Footer />
    </div>

    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
